bin/*/MetalRenderer
bin/*/default.metallib
shaders/*.ir

.vscode
build/*
obj/*

**/imgui.ini

.DS_Store
imgui.ini

# all ds_store files everywhere
**/.DS_Store
**/.DS_Store?

# all imgui.ini files everywhere
**/imgui.ini

*.ini
.DS_Store
*.ini
.DS_Store
